@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-work-sans{
  font-family: "Work Sans", sans-serif;
}

.font-playfair{
  font-family: "Playfair Display", serif
}

/* custom style */
.primary-bg{
  background-color:   #077701;
}

.secondary-bg{
  background-color: #59C6D2;
}

.hover-primary:hover{
   background-color: #59C6D2;
}

.hover-secondary:hover{
  background-color:   #078100;
}

.banner-bg{
  background-color: #8ca49f;
}

.text-primary{
  color: #078100;
}